[submodule "src/bamtools"]
	path = src/bamtools
	url = https://github.com/pezmaster31/bamtools.git
[submodule "src/seqan"]
	path = src/seqan
	url = https://github.com/seqan/seqan.git
[submodule "src/lib/fastahack"]
	path = src/lib/fastahack
	url = https://github.com/ekg/fastahack.git
